<h1>Liste des Pokémons</h1>

link for trainers
link for random pokemon
search bar for pokemon


<div class="grid">
  <% @pokemons.each do |pokemon| %>
    <div class="pokemon-card">
      <%= cl_image_tag pokemon.photo.key, width: 100, crop: :fill, gravity: :auto  %>
      <strong><%= pokemon.name.capitalize %></strong>
      (<%= pokemon.element_type.capitalize %>)
    </div>
  <% end %>
</div>
